@import url("nullstyle.css");

@font-face {
    font-family: 'stolzlthin';
    src: url('../fonts/stolzl-webfont.woff2') format('woff2'),
         url('../fonts/stolzl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.headerblock  {
	background-image: url("../img/background_top.png");
	background-repeat: no-repeat;
	height: 660px;
	width: 1260px;
}

.webcor {
	display: inline-block;
	padding-left: 130px;
	padding-top: 27px;
	font-family: Stolzl;
	line-height: 1.2;
	font-weight: 100;
	color: #555c6f;
	font-size: 35px;
}

.navinfo {
	display: inline-block;
	margin-left: 280px;
	font-family: stolzlthin;
	font-size: 25px;
	line-height: 1.2;
	font-weight: 100;
	color: #555c6f;
}

.aboutus {
	display: inline-block;
	
}

.services {
	display: inline-block;
	margin-left: 15px;
	
}

.send__prices{
	display: inline-block;
	margin-left: 15px;
	
}

.contacts {
	display: inline-block;
	margin-left: 15px;
	
}

.welcome__to__us {
	margin-top: 132.5px;
	text-align: center;
	font-family: Stolzl;
	font-size: 25px;
	line-height: 1.2;
	font-weight: 100;
	color: #555c6f;
	line-height: 1.2;
	font-weight: 300;
}

.position__1 {
	display: flex;
	justify-content: end;
	margin-top: 24px;
	margin-right: 60px;
}

.secondblock {
	font-family: Stolzl;
	display: flex;
}

.about__us__info {
	display:flex;
	background-color: #e4e4e4;
	width: 630px;
	height: 565px;
	align-self: stretch;
	flex-direction: column;
}

.about__us__title {
	margin-left: 80px;
	margin-top: 95px;
	font-size: 37.5px;
	line-height: 1.2;
	font-weight: bold;
	color: #101334;
}

.left__image {
	display: flex;
	align-self: stretch;
	width: 630px;
}

.about__us__text {
	font-family: Stolzl;
	font-size: 20px;
	line-height: 1.2;
	font-weight: bold;
	color: #555c6f;
	margin-top: 62px;
	margin-left: 43px;
	width: 402px;
}

.position2 {
	display: block;
	margin-left: 575px;	
	margin-bottom: 300px;
}

.thirdblock {
	height: 570px;
	width: 100%;
	background-color: #1a1f25;
	display: flex;
	flex-direction: row-reverse;
}

.servicesinfo {
	width: 630px;
	flex-direction: column;
}

.textservices {
	font-family: Stolzl;
	font-size: 37.5px;
	line-height: 1.2;
	font-weight: 300;
	color: #a9adb6;
	margin-top: 90px;
	margin-left: 127px;
}

.typesofservices {
	font-family: Stolzl;
	font-size: 20.9px;
	line-height: 1.2;
	font-weight: 300;
	color: #8b92a5;
	margin-top: 75px;
	margin-left: 95px;
}

.right__image {
	display: flex;
	flex-direction: row;
}

.fourthblock {
	display: flex;
	font-family: Stolzl;
	color: #f4feff;
}

.contact__forms {
	width: 630px;
	background-color: black;
	flex-direction: column;
}

.send__prices__data {
	font-family: Stolzl;
	font-size: 37.5px;
	line-height: 1.2;
	font-weight: 100;

	margin-left: 80px;
	margin-top: 87px;
}

.whats__name {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 300;
	margin-left: 49px;
	margin-top: 55px;
}

.contact__data__name {
	margin-left: 43px;
	background-color: black;
	caret-color: blanchedalmond;
	color: white;
	font-size: 15px;
	margin-top: 10px;
	width: 447px;

}

.first__hr__contact__forms {
	color: blanchedalmond;
	width: 447px;
	size: 13px;
	border: 1px solid #f4feff;
	margin-left: 43px;
}

.your__contacts {
	margin-top: 30px;
	margin-left: 49px;
}

.contact__data__contact {
	margin-left: 43px;
	background-color: black;
	caret-color: blanchedalmond;
	color: white;
	font-size: 15px;
	margin-top: 10px;
	width: 447px;
}

.second__hr__contact__forms {
	color: blanchedalmond;
	width: 447px;
	size: 13px;
	border: 1px solid #f4feff;
	margin-left: 43px;
}

.describe__your__project {
	margin-top: 30px;
	margin-left: 49px;
}

.contact__data__tasks {
	margin-left: 43px;
	background-color: black;
	caret-color: blanchedalmond;
	color: white;
	font-size: 15px;
	margin-top: 25px;
	width: 447px;
}

.send__out {
	width: 105px;
	height: 36px;
	border: 2px solid #f4feff;
	margin-left: 45px;
	background-color: black;
	text-align: center;
	margin-top: 36px;
}
.just__send {
	font-family: Stolzl;
	font-size: 12.5px;
	line-height: 1.2;
	font-weight: 300;
	color: #f4feff;
	margin-left: 16px;
	margin-top: 8px;
}

.footer {
	width: 1260px;
	height: 330px;
	background-color: #17181c;
}

.txt__Contacts {
	display: inline-block;
	width: 100%;
	height: 45px;
	font-family: Stolzl;
	font-size: 37.5px;
	line-height: 1.2;
	font-weight: 100;
	color: #555c6f;
	text-align: center;
	margin-top: 55px;
}

.social__media__links {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 55px;
	align-content: space-between;
	margin-top: 91px;
	margin-left: 322px;
	margin-right: 307px;
}

.decorate__font__footer {
	font-family: Stolzl;
	font-size: 14px;
	line-height: 1.2;
	font-weight: bold;
	color: #555c6f;
}

.position__social__footer {
	display: block;
}

.footer__hr {
	color: blanchedalmond;
	width: 732;
	size: 13px;
	border: 1px solid #f4feff;
	margin-left: 265px;
	margin-right: 188px;
	margin-top: 37px;
}

.author {
	display: inline;
	margin-top: 8px;
	width: 733px;
	height: 13px;
}	

.left__margin__footer {
	margin-left: 266px;
}

.webcor__footer {
	font-family: Stolzl;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 100;
	width: 70px;
	color: #555c6f;
}

.designed__by {
	font-family: Stolzl;
	font-size: 8.4px;
	line-height: 1.2;
	color: #555c6f;
	margin-left: 245px;
	margin-right: 160px;
	width: 100px;
}

.icons__social__media {
	width: 154px;
	margin-left: 72px;
}

a {
	color:black;
}

* {
	font-family: stolzlthin;
}